.form-body {
  margin: 0px auto;
  padding: 0;
  color: white;
  background-color: #758aa2;
  font-weight: bold;
}

.form-group select {
  width: 250px;
  background-color: #d2e2f2;
}

.vehicle-items {
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  color: white;
}

.vehicle-item {
  padding: 15px;
  font-weight: 500;
}

.sections {
  margin: 40px auto;
  background-color: #758aa2;
  box-shadow: 0 6px 2px -2px #000000;
}

.sections h5 {
  /* text-align: center; */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-top: -35px;
  margin-left: -370px;
}

.subsections {
  background-color: #d2e2f2; /*  #aaabb8; */
  /* color: white; */
  margin: 20px auto;
  text-align: center;
  /*border: 5px #758AA2 solid;*/
  box-shadow: #464866 5px 5px;
  max-width: 30%;
  height: 270px;
  border-radius: 2%;
}

.subsections label {
  color: #003e52;
}

.dealer-list {
  margin: 30px 20px 20px 60px;
}
.dealer-list-item {
  color: #003e52;
  text-decoration: underline;
}

.subsections span {
  color: #003e52;
  font-size: 12px;
  margin: 10px;
  font-weight: 600;
}

.vehicle-header span {
  font-size: 16px;
  font-weight: bolder;
  margin: 2px;
  color: #003e52;
}

.subsections input {
  width: 40%;
  height: 60%;
  border: 0.5px solid;
  margin-left: 10px;
  margin-right: 15px;
}

/*When screen size is smaller: clears floats and other alignments*/
@media (max-width: 768px) {
  .subsections {
    max-width: 100%;
  }
}
