.quotes-container {
  padding: 100px 5px 5px 5px;

  .heading-divider {
    border: solid 1px hsl(171, 100%, 41%);
  }
  .vertical-divider {
    border: solid 1px hsl(171, 100%, 41%);
    height: 50rem;
  }
}
