.quotes-container {
  .title-bar {
    padding: 25px 50px;
    background-color: #00d1b2;
    color: white;
  }

  .quote-content {
    margin: 50px 200px;

    ul {
      list-style: disc;
      margin-left: 30px;
    }

    .quote-content-form {
      width: 50%;
    }

    .table {
      margin-left: 20px;
    }

    .table-cell {
      border: solid 0.5px black;
    }
  }

  .heading-divider {
    border: solid 1px hsl(171, 100%, 41%);
  }
  .vertical-divider {
    border: solid 1px hsl(171, 100%, 41%);
    height: 50rem;
  }
}
